



th{
    background-color: #0F9E5E;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    padding-left: 15px;
    font-weight: bolder!important;
}
td{
    padding-left: 15px;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #e8e8e8;
    font-weight: normal!important;
}

table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    table-layout : fixed;
}

table tbody {
    display: table;
    width: 100%;
}


.click:hover{
    cursor: pointer;
}


 /* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #0F9E5E;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 35px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: white;
	border-top: 1px solid #e5e5e5;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
	margin-top: 8em;
	margin-bottom: 50px;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
	max-width: 100vw;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
  color: grey;
  float: right;
  font-size: 28px;
  font-weight: bold;
	position: relative;
	bottom: -.5em
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.code1{
    background-color: #36393f; padding: 3px 10px 10px 25px; max-width: 500px;display: inline-block;
    margin: 10px;
}

.input{
    width: calc(100% - 24px);
    border:  0;
    border-bottom: 2px solid #e2e9ef;
    color: #797a7a;
    font-size: 17px;
    height: 44px;
    padding: 0 10px 0 10px;
    background-color: white;
    border-radius: 0;
    margin: 2px 0 10px 0;
}
.input:focus{
    border:  0;
    border-bottom: 2px solid #44af60;
}

.bbutton:hover{
    background-color: white!important;
    cursor: auto!important;
}

button:hover{
    background-color: #0abf6e!important;
}

.button{
    background-color: #0F9E5E; border-radius: 3px; color: white; padding: 8px 20px; border: 0; min-width: 70px
}

.oimg{
    width: 40px;
    height: 40px;
}


.double {
    width: 15px!important;
    height: 15px!important;

  transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -moz-transform: scale(2);
  transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
}

.double:hover{
    cursor: pointer;
}
.nowshow{
    display: none;
}

*,*:focus,*:hover{
    outline:none;
}